@charset "UTF-8";

@font-face {
   font-family: 'bold';
   src: url('./vazir/Vazir-Bold.ttf') format('truetype');
}
@font-face {
   font-family: 'medium';
   src: url('./vazir/Vazir-Medium.ttf') format('truetype');
}
@font-face {
   font-family: 'black';
   src: url('./vazir/Vazir-Black.ttf') format('truetype');
}
@font-face {
   font-family: 'thin';
   src: url('./vazir/Vazir-Thin.ttf') format('truetype');
}
@font-face {
   font-family: 'light';
   src: url('./vazir/Vazir-Light.ttf');
}

body {
   background-color: white !important;
   margin: 0px;
}

footer {
   color: white;
   padding: 15px;
   font-family: 'bold';
   justify-content: center;
   direction: rtl;
   max-width: 100%;
   height: 100%;
   margin-top: 30px;
   background-color: #333333;
   display: flex;
   flex-direction: row;
   flex-direction: wrap;
   margin-top: 50%;
}

label .hamburger:after,
label .hamburger:before {
   transition: .5s ease-in-out;
   content: "";
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
   background: #000;
}

label .hamburger:before {
   top: -10px;
}

label .hamburger:after {
   bottom: -10px;
}

label input {
   display: none;
}

/* ایجاد انیمیشن حرکت صفحه سفید و نمایش آیتم های منو */
label input:checked+.menu {
   box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
   border-radius: 0;
}

/*تغییر زاویه  علامت نشانگر منو*/
label input:checked+.menu .hamburger {
   transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
   transform: rotate(90deg);
   bottom: 0;
}

ul li:hover{
   text-decoration: underline 3px;
}


label input:checked+.menu .hamburger:before {
   -webkit-transform: rotate(90deg);
   transform: rotate(90deg);
   top: 0;
}

label input:checked+.menu+ul {
   opacity: 1;
}

/* نمایش آیتم های منو */
label ul {
   z-index: 200;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: .25s 0s ease-in-out;
}

label a {
   margin-bottom: 5px;
   display: block;
   color: #000;
   text-decoration: none;
}

/* نمایش آیتم های منو */
label ul {
   z-index: 200;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: .25s 0s ease-in-out;
}

label a {
   margin-bottom: 5px;
   display: block;
   color: #000;
   text-decoration: none;
}


*,
*:before,
*:after {
   box-sizing: border-box;
}


ul li {
   font-size: 30px;
   direction: rtl;
   text-align: right;
   font-family: medium;
   text-decoration: none;
   list-style: none;
}
body {
   line-height: 2;
   overflow-x: hidden;
}

label .menu {
   position: absolute;
   right: 0px;
   top: -92px;
   z-index: 100;
   width: 100px;
   height: 200px;
   border-radius: 50% 50% 50% 50%;
   transition: .5s ease-in-out;
   box-shadow: 0 0 0 0 #f5f5f5, 0 0 0 0 #f5f5f5;
   cursor: pointer;
}

label .hamburger {
   position: absolute;
   top: 135px;
   left: 50px;
   width: 30px;
   height: 2px;
   background: #000;
   display: block;
   transform-origin: center;
   transition: .5s ease-in-out;
}

/* ایجاد نشان گر منو در قسمت بالای سمت راست */
label .hamburger:after,
label .hamburger:before {
   transition: .5s ease-in-out;
   content: "";
   position: absolute;
   display: block;
   width: 100%;
   height: 100%;
   background: #000;
}

label .hamburger:before {
   top: -10px;
}

label .hamburger:after {
   bottom: -10px;
}

label ul{
   display: none;
}

/* ایجاد انیمیشن حرکت صفحه سفید و نمایش آیتم های منو */
/* label input:checked+.menu{
   box-shadow: 0 0 0 100vw #f5f5f5, 0 0 0 100vh #f5f5f5;
   border-radius: 0;
} */

/*تغییر زاویه  علامت نشانگر منو*/
label input:checked+.menu .hamburger {
   transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
   transform: rotate(90deg);
   bottom: 0;
}


label input:checked+.menu .hamburger:before {
   -webkit-transform: rotate(90deg);
   transform: rotate(90deg);
   top: 0;
}

label input:checked+.menu+ul {
   opacity: 1;
   display: block;
}

/* نمایش آیتم های منو */
label ul {
   z-index: 200;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: .25s 0s ease-in-out;
}

label a {
   margin-bottom: 5px;
   display: block;
   color: #000;
   text-decoration: none;
}

.say-hello {
   font-family: 'bold';
   direction: rtl;
   text-align: center;
   font-size: 40px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 10rem;
}

.titer-me{
   max-width: 637px;
   height: 494px;
   box-sizing: border-box;
   border: 1px solid rgb(0,0,0,0.34);
   border-radius: 18px;
   background-color: white;
   position: relative;
}
   .titer-me .title-me{
      position: absolute;
      font-family: 'bold';
      font-family: 400;
      font-size: 48px;
      line-height: 58px;
      color: black;
      direction: rtl;
      left: 370px;
      top: -2px;
   }

   .flex-box{
      background-color: #333 !important;
      width: 40rem !important;
      height: 13rem;
      border-radius: 8px;
      box-sizing: border-box;
      box-shadow: 1px 1px 10.5px #333;
      position: relative;
      margin: 5px;

   }

   .item-flex2 {
      width:max-content;
      position: absolute;
      color: white;
      font-family: 'medium';
      font-size: 30px;
      right: 15px;
   }

   .item-flex3{
      max-width: max-content;
      position: absolute;
      color: white;
      font-family: 'medium';
      max-width: 30rem;
      direction: rtl;
      right: 15px;
      top: 55px;
   }
.all {
   width: 100%;
   height: 500px;
   display: flex;
   flex-direction: wrap;
   align-items: center;
   background-color:white;
   justify-content: center;
}

/*  */
* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 50px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev, .next {
  background-color: #f1f1f1;
  color: black;
}

#artical-me{
   text-align: center;
   font-size: 40px;
   font-family:'bold';
}

img{
   border-radius: 18px;
}

.fa-brands,.fa-solid{
   font-size: 40px;
}
      .fa-github{
         color: #000000de;

      }
      .fa-twitter{
         color: #1da1f2;
      }
      .fa-youtube {
         color: #ff0000;
      }

      .fa-telegram{
       color: #4176ef;
      }

      .fa-envelope {
         color:#b7b7b7;
      }


.about-working{
   background-color: #333;
   color: white;
   display: flex;
   flex-wrap: wrap;
   margin: 30px;
   justify-content: space-evenly;
   padding: 30px;
}

p .progressss{
   background-color: white;
   width: 500px;
   padding: 0px;
   margin: 10px auto;
   border: none;

}



@media screen and (max-width:630px) {
   .all{
      flex-direction: column;
   }

   .flex-box{
      max-width:300px;
   }

   .progressss {
      max-width: 150px;
   }
}
