@charset "UTF-8";

@font-face {
   font-family: 'samim-Bold';
   src: url('./font/Samim-Bold.ttf') format('truetype');
   src: url('./font/Samim-Bold.eot') format('eot');
   src: url('./font/Samim-Bold.woff') format('woff');
}

@font-face {
   font-family: 'samim';
   src: url('./font/Samim.ttf') format('truetype');
   src: url('./font/Samim.eot') format('eot');
   src: url('./font/Samim.woff') format('woff');
}

body {
   margin: 0px;
   padding: 0px;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   font-family: 'samim';
}

li {
   float: right;
   font-weight: bold;
}

li a,
.dropbtn {
   display: inline-block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

li:not(.meno-valud) a:hover,
.dropdown:hover .dropbtn {
   background-color: #ffffff33;
}

li.dropdown {
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: right;
}

.dropdown:hover .dropdown-content {
   display: block;
}

.mySlides {
   display: none
}

.dropdown-content a:hover {
   background-color: #333 !important;
   color: white !important;
}

.background-solid {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   background-image: url('./390081.jpg');
   background-position: center;
   width: 100%;
   height: 500px;
   background-size: cover;

   position: relative;

   transition: 0.4s;
}

#photo-me {
   width: 300px;
   height: 300px;
   border-radius: 500px;
   outline: 3px solid green;
   outline-offset: 10px;
   transition: 0.4s;

}

#photo-me:hover {
   width: 320px;
   height: 320px;
   transition: 0.3s;
   cursor: progress;
}


.how-me {
   font-family: 'samim';
   font-size: 20px;
   color: white;
   position: absolute;
   bottom: 0px;
   text-align: center;
   direction: rtl;
}


.box-info-me {
   max-width: 1140px;
   height: 12pc;
   background-color: white;
   box-shadow: 1px 1px 10px 1px rgba(51, 51, 51, 0.205);

   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   margin: auto;
   margin-top: 30px;
   opacity: 1;

   align-items: flex-end;
   justify-content: flex-end;
   align-content: flex-start;


   position: relative;

   border-left: 20px solid #333;
}

.talk-its-me {
   font-size: 25px;
   font-family: 'samim-Bold';
   direction: rtl;
   position: absolute;
   right: 10px;
   top: 10px;
}

.about {
   font-size: 18px;
   font-family: 'samim';
   direction: rtl;
   text-align: right;
   margin-top: 70px;
   margin-right: 10px;
   width: 50pc;
   z-index: 100;
}


table,
td,
tr {
   font-family: 'samim';
}

table,
tr {
   text-align: center;
   margin-top: 70px;
   direction: rtl;
}


.mahrt-me {
   font-family: 'samim-Bold';
   font-size: 25px;
   text-align: center;
}

.all-product {
   max-width: 72pc;
   height: 40pc;
   display: flex;
   background-color: white;
   margin: auto;

   display: flex;
   flex-direction: row;
   justify-content: center;
}

.progressss {
   background-color: #3333331f;
   width: 500px;
   padding: 0px;
   /* display: block; */
   margin: 10px auto;
   border: none;
}

.progressss::-webkit-progress-value {
   background-color: #00BFFF;
}

.progressss::-webkit-progress-bar {
   background-color: snow;
}

.html-and-css {
   text-indent: 0%;
   padding: 10px;
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.html-and-css:invalid {
   background-color: #2196F3;
}

.meno-project {
   background-color:white;
   max-width: 72pc;
   height: max-content;
   margin: auto;
   margin-top: 30px;
}


.meno-project2{
  max-width: 100%;
   /* margin-top: 30px; */
   margin-left: 0px;
   background-color: #333;
   color: white;
   font-size: 20px;
   position: relative;
}

.meno-project2 a {
   color: white;
   text-decoration: none;
   overflow: hidden;
}

.imge-project-me {
   width: 100px;
   border-radius: 50px;
   margin-left: 15px;
   outline-offset: 5px;
   outline: 1px solid white;
}

.best-link-meno{
   position: absolute;
   top: 45px;
   left:150px;
}

.foter-page{
   background-color: #333;
   max-width: 100%;
   height: 120px;
   margin-top: 30px;

   display: flex;
   flex-direction: row;
   flex-direction: wrap;

   justify-content: center;
   align-items: center;
   align-content: space-around;

   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.foter-page button {
   height: 40px;
   background-color: #333;
   outline: none;
   border: none;
   color: white;
   margin: 10px;
}

.foter-page .copyright {
   font-family: 'samim';
}

.foter-page button::before{
   content: ' - ';
}
.foter-page button::after {
   content: ' -';
}


.foter-page button:hover{
   color:#00BFFF;
}

.fa-chevron-down {
   font-size: small;
   visibility: hidden;
}

#smal-other:hover .fa-chevron-down{
   visibility: visible;
}

.meno-project img{
   transition: 0.4s;
}

.meno-project2 img:hover{
   transform: rotate(180deg);
   transition: 0.5s;
}

@media screen and (max-width:519px) {
   .progressss {
      width: 300px;
   }

}
