@font-face {
   font-family: 'peyda-bold';
   src: url('Peyda-ExtraBold.ttf') format('truetype');
}

@font-face {
   font-family: 'peyda';
   src: url('Peyda-Medium.ttf');
}

a {
   text-decoration: none;
}

body {
   background-color: #f4f4f4;
}

.all-box {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: flex-start;
   justify-content:center;
   background-color: #f4f4f4;
   max-width: 95pc;
   margin: auto;
   margin-top: 10px;
}


.styleshet-boxing {
   width: 350px;
   height: 430px;
   background-color: white;
   margin: 10px;
   position: relative;

   transition: 0.3s;
}


.img-styleshet {
   width: 300px;
   height: 200px;
   margin-left: 25px;
}

.Bold-Text {
   font-family: 'peyda-bold';
   font-size: large;
   color: black;
   direction: rtl;
   margin: 15px;
}

.text-sloid {
   font-family: 'peyda';
   font-size: 15px;
   color: black;
   direction: rtl;
   margin: 15px;
}


.see-more {
   outline: none;
   border: none;
   font-family: 'peyda-bold';
   padding: 5px;
   direction: rtl;
   background-color: green;
   color: white;

   width: 100px;
   height: 25px;
   position: absolute;
   bottom: 10px;
   left: 10px;
}


.styleshet-boxing:hover .Bold-Text{color: white !important;}
.styleshet-boxing:hover .text-sloid{color: white !important;}
.styleshet-boxing:hover .clock-text{color: white !important;}


.styleshet-boxing:hover {
   transform: scale(1.050);
   transition: 0.3s;
   background-color: #14213D;
}

.clock-text{
   font-family: 'peyda';
   color: black;
   position: absolute;
   bottom: 10px;
   right: 10px;
}


.with-for-4-item {
   color: gray;
   margin-top: 50px;
}
